<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1">
<title>Whatsapp Bot</title>

<link rel="stylesheet" href="css/main.css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="style.css">

<script src="./bootstrap/js/bootstrap.min.js"></script>

<style>
    body { 
        padding-top:50px;
        background-image: url('./img/background.png');
    }
</style>